@media(max-width:1000px){
.container {
    grid-template-columns: repeat(1,1fr);
}
.second-section{
  flex-direction: column;
}
.layer{
  font-size: 40px;
}
.third-section-container{
  padding: 20px 60px;
}
.project-description p{
  font-size: 11px;
  line-height: 1.5;
}
.project-description h3{
  font-size: 12px;

}

#element{
  font-size: 10px;
}
.left-section{
  font-size: 12px;
  margin-left: 20px;
}
.section-container {
  padding: 20px 28px;
  font-size: 10px;

}
}