  @import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #000021;
  color: #FAFCFF;
  font-family: 'Poppins', sans-serif;
}

html{
  font-size: 10px;
  scroll-behavior: smooth;
}

/* Nav Section */

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  background-color: #1A212A;
}

.nav ul{
  display: flex;
  justify-content: center;

}
.nav ul li{
  list-style: none;
  margin: 0 2.3rem;
  font-size: 1.8rem;

}
.nav ul li a{
 text-decoration: none;
 color: #fff;
 font-weight: 500;

}
.nav ul li a:hover{
  color: rgb(153,153,226);
 }
 .logo{
  font-size: 3rem;
  font-family: 'Bacasime Antique', serif;
  color: #fff;
  cursor: pointer;
}
.logo:hover{
  color: #7dd56f;
}
.logo span{
  color: red;
}
.logo span:hover{
  color: #fff;
}

 /* frist-section photo and button  */

 .frist-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: darkslategrey; */
  background: linear-gradient(rgba(0, 0, 0, 0.6), darkslategrey);

  padding-bottom: 30px;
}


.frist-section-text{
  color: aquamarine;
}
.purple{
  color: khaki;
}
#element{
  color: yellowgreen;

}

.left-section{
  font-size: 3.4rem;
}
.left-section .buttons{
  padding: 5rem 0;
}

.photo-frame {
  padding: 10px;
  display: inline-block;
  border-radius: 50px;
  margin: 20px 0;
  /* background-image: linear-gradient(to right, #f6b73c, rgb(77, 77, 65)); */
  background-color: #1A212A;
  background: linear-gradient(rgba(0, 0, 0, 0.6), darkcyan);


}
/* Button */
.btn{
  padding: 1.6rem 3.2rem;
  outline: none;
  border: none;
  font-size: 1.6rem;
  color: #ffffff;
  background-color: firebrick;

  border-radius: 8rem;
  cursor: pointer;
  transition: all 0.4s;
}
.btn:hover{
  background-color: #214479;
  box-shadow: 1px 1px 10px 1px yellowgreen;
  /* padding: 1.8rem 4rem; */
}


/* second section */
.section-container{
  padding: 20px 120px;
  font-size: 12px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), darkcyan);


}

.second-section{
  display: flex;

}
.second-section-img{
  width: 100%;
  background-color: #1A212A;
}


.second-section h2{
  font-size: 40px;
}

.second-section h2{
  color: #214479;
}

/* tab about section */
.tab-title {
  display: flex;
  margin: 20px 0 40px;
}

.tab-link {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-link::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-link.active-link::after {
  width: 50%;
}

.tab-content ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-content ul li span {
  color: greenyellow;
  font-size: 14px;
}

.tab-content {
  display: none;
}

.tab-content.active-tab {
  display: block;
}

/* Project Section */
.third-section-container{
  padding: 20px 120px;
  font-size: 12px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), darkslategrey);

}


.third-section h2{
  font-size: 40px;
  color: lightcyan;
}


.project-description a{
  font-size: 2.2rem;
  font-family: 'Bacasime Antique', serif;
  color: #ccc;
  font-weight: 600;
  text-decoration: none;
}
.project-description p{
  font-size: 1.6rem;

}
.project-description{
  transition: all 0.6s;
  padding: 4rem 2rem;
  margin-top: 2rem;
  background-color: #262626;
  color: #ccc;
  border-radius: 10px;
  margin-left: 2rem;
  cursor: pointer;
}
.project-description:hover{
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border: 2px solid #000021;
  box-shadow: 0 2.4rem 4.8rem #000045;
  transform: scale(1.1);
  

}
.container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  
}

/* footer section */
footer{
  background: linear-gradient(rgba(0, 0, 0, 0.6), #0e0e1a);
  /*height: 23rem;*/
  color: #fff;
}
.footer{
  padding: 5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer ul{
  list-style: none;
}
.footer ul li{
  font-size: 1.6rem;
}
.footer > div{
    margin-left: 3rem;
  }

footer .footer-rights{
  text-align: center;
  color: #888;
  padding: 1.2rem 0;
}



.photo-frame img {
  display: block;
  max-width: 100%;
  height: auto;
}
.my-name{
  font-size: 1rem;
}

.footer ul li a img{
  width: 50px;
  transition: ease 0.344s;
}
.footer ul li a img:hover{
  transform: scale(1.2);
}
.subscribe{
  background-color: #fafcff;
}

.subscribe-form{
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe-form form{
  display: flex;
  flex-direction: column; 
  gap: 10px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.subscribe-form input,textarea{
  width: 415px;
  border: 0;
  outline: navajowhite;
  background: #262626;
  padding: 15px;
  color: #fff;
  font-size: 12px;
  border-radius: 6px;
}
.subscribe-form textarea{
  height: 130px;
  width: 415px;
}

.subscribe-form{
  display: flex;
  flex-direction: column;
}



